{% extends 'devoirapp/base.html' %}
{% block content %}
<row>
  <div class="col-md-5">
<form method="POST">
    {% csrf_token %}
    
   
      <div class="form-group row" mt="6">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">nom</label>
        <div class="col-sm-10">
          <input type="text"  name="nom" id="nom" required  class="form-control form-control-sm" id="colFormLabelSm" placeholder="nom complet">
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" name="email" id="email" required class="form-control" id="colFormLabel" placeholder="oc62693@gmail.com">
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">message</label>
        <div class="col-sm-10">
          <input type="text" name="message" id="message" required class="form-control form-control-lg" id="colFormLabelLg" placeholder="entrez votre message ">
        </div>
      </div>
    
   
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary"> envoyer</button>
      </div>
    </div>
  </form>


  
        </div>
    </row>
   
{% endblock %}